* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.page_container{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow: hidden;
}

/* -----------------Birthday UI------------------- */
#birthday_ui_container{
    width: 86%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    transition: width 1s;
}

.birthday_ui_container_collapsed{
    width: 25% !important;
    transition: width 1s;
}

.nav{
    display: flex;
    justify-content: space-between;
}

/* -----------------Logo------------------- */
.logo{
    cursor: pointer;
}

.logo img{
    height: 4.5em;
}

/* -----------------Nav Right------------------- */
.nav_right{
    display: flex;
}

.help{
    background-color: black;
    color: white;
    text-align: center;
    height: 64px;
    width: 64px;
    cursor: pointer;
    margin:.5em;
}

.mute{
    background-color: black;
    color: white;
    text-align: center;
    height: 64px;
    width: 64px;
    cursor: pointer;
    margin:.5em;
}

/* -----------------Birthday Entry------------------- */
.birthday{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8vh 5vw;
}

.icon{
    height: 22vw;
    width: 22vw;
    background-color: black;
    border-radius: 14vw;
}

.birthday h1{
    margin: 2%;
    font-size: 3em;
    line-height: 1em;
}

.birthday form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.birthday_entry{
    box-sizing: border-box;
    height: 3rem;
    width: 20vw;
    border-radius: 3em;
    border: 2px solid #c8c8c8;
    margin: 1vh 1vw;
    font-size: 1.5em;
    padding: .5em 4em;
    background-color: #c8c8c8;
    color: white;
    outline: none;
    transition: border .1s;
}

.birthday_entry:focus,
.birthday_entry:hover{
    border: 2px solid darkgray;
    transition: border .1s;
}


.birthday_submit{
    border: none;
    height: 3rem;
    width: 20vw;
    font-size: 2em;
    font-weight: bold;
    padding: .1em;
    border-radius: 3em;
    background-color: #711D1D;
    color: white;
    border: none;
    margin: 1vh 1vw;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s, font-size .5s;
}

.birthday_submit:hover{

    background-color: #A22020;
    transition: background-color .3s, font-size .5s;
}

.birthday_submit:focus{
    background-color: #711D1D;
    color: lightgrey;
    transition: background-color .5s;
}

#invalid_date{
    font-size: 1rem;
    color: darkred;
    width: 20vw;
}

/* -----------------Classes UI------------------- */
#class_detail{
    width: 61%;
    transition: width 1s;
    background-color: #222;
    color: white;
    transition: width 1s;
}

#class_detail.class_detail_collapsed{
    width: 0% !important;
    transition: width 1s;
}

#class_detail_text{
    font-size: 3rem;
}

.class_ui_container{
    width: 14%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1vh .5vw;
}

.class_UI{
    background-color: #424242;
    height: 5vw;
    width: 5vw;
    margin: .8vh .5vw;
    cursor: pointer;
    border-radius: 100%;
    opacity: .8;
    border: 5px solid rgba(51, 51, 51, 0);
    transition: all .1s;
}

.class_UI:hover{
    opacity: 1;
    border: 5px solid rgb(231, 231, 231);
    transition: all .1s;
}

/* -------------------------- */
#barbarian{
    background: url('../img/barbarian_icon.jpeg');
    background-size: contain;
}