* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'AlegreyaSansSC', sans-serif;
}

body ::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: 
    url('../img/unknown.png') 
    url('../img/barbarian.png')
    url('../img/bard.png')
    url('../img/cleric.png')
    url('../img/druid.png')
    url('../img/fighter.png')
    url('../img/monk.png')
    url('../img/paladin.png')
    url('../img/ranger.png')
    url('../img/rogue.png')
    url('../img/sorcerer.png')
    url('../img/warlock.png')
    url('../img/wizard.png');
    
}

p{
    font-family: 'AlegreyaSans', sans-serif;
}
.page_container{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}


/* -----------------Birthday UI------------------- */
#birthday_ui_container{
    width: 86%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    transition: width .7s;
}

.birthday_ui_container_collapsed{
    width: 25% !important;
    transition: width .7s;
}

.nav{
    display: flex;
    justify-content: space-between;
}

/* -----------------Logo------------------- */
.logo{
    cursor: pointer;
}

.logo img{
    height: 4.5em;
}

/* -----------------Nav Right------------------- */
.nav_right{
    display: flex;
}

#help{
    background-image: url('../img/help.svg');
    color: white;
    text-align: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin:.5em;
    border-radius: 32px;
    opacity: .5;
    transition: opacity .2s;
}
#help:hover{
    opacity: 1;
    transition: opacity .2s;
}
#mute{
    /* background-color: black; */
    color: white;
    background-image: url('../img/unmute.svg');
    background-size: cover;
    text-align: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin:.5em;
    opacity: .5;
    transition: opacity .2s;
}

#mute:hover{
    opacity: 1;
    transition: opacity .2s;
}

/* -----------------Birthday Entry------------------- */
.birthday{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 8vh 5vw; */
}

#icon{
    height: 22vw;
    width: 22vw;
    background-color: rgb(238, 238, 238);
    background-image: url('../img/unknown.png');
    border: 10px solid rgb(43, 43, 43);
    box-shadow: 0 0 10px rgb(126, 126, 126);
    background-size: cover;
    border-radius: 14vw;
    /* margin: 2rem; */
}

.what_is_ur_class{
    width:  100% !important;
    /* text-align: start !important; */
    transition: width .7s ease-in;
}

#what_is_ur_class{
    margin: 2%;
    font-size: 2.7em;
    line-height: 1em;
    text-align: center;
    width: 25rem;
    transition: width .7s ease-in;
}

#class_range{
    margin: .3rem;
}

.birthday form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#b_date{
    box-sizing: border-box;
    width: 0;
    border-radius: 3em;
    border: 2px solid #797979;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    background-color: #c8c8c8;
    color: white;
    outline: none;
    opacity: 0;
    transition: width .3s, padding .3s, margin .3s, opacity .3s;
}

.birthday_entry{
    width: 20vw !important;
    padding: .5em !important;
    margin: 1vh 1vw !important;
    opacity: 1 !important;
    transition: width .3s, padding .3s, margin .3s, opacity .3s;
}

#b_date:focus,
#b_date:hover{
    border: 2px solid rgb(43, 43, 43);
    transition: border .3s;
}


.birthday_submit{
    border: none;
    width: 20vw;
    font-size: 2em;
    font-weight: bold;
    padding: .2em;
    border-radius: 3em;
    background-color: rgb(102, 0, 0);
    color: white;
    margin: 1vh 1vw;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s, font-size .5s;
}

.birthday_submit:hover{
    background-color: darkred;
    transition: background-color .3s, font-size .5s;
}

.birthday_submit:focus{
    background-color: darkred;
    color: lightgrey;
    transition: background-color .5s;
}

#invalid_date{
    font-size: 1rem;
    color: darkred;
    width: 20vw;
}

/* -----------------Classes UI------------------- */
#class_detail{
    width: 61%;
    transition: width .7s;
    background-color: #222;
    color: white;
    transition: width .7s;
}

#class_detail.class_detail_collapsed{
    width: 0% !important;
    transition: width .7s;
}

.class_ui_container{
    width: 14%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1vh .5vw;
}

.class_UI{
    background-color: #424242;
    height: 5vw;
    width: 5vw;
    margin: .8vh .5vw;
    cursor: pointer;
    border-radius: 100%;
    opacity: .7;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 rgb(177, 177, 177);
    transition: all .2s;
}

.class_UI:hover{
    opacity: 1;
    border: 5px solid rgb(231, 231, 231);
    box-shadow: 0 0 10px rgb(177, 177, 177);
    transition: all .2s;
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.404);
}

/* -------------------------------- */
/* #class_detail{
    overflow-y: scroll;
} */

#class_detail_text{
    height: 100vh;
    padding: 5vw;
    overflow-y: scroll;
}
#class_detail_text h1{
    font-size: 6rem;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    
}

#class_detail_text h2{
    font-size: 2rem;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

#class_detail_text p{
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-right: 5rem;
}

#dnd_beyond_link{
    width: 20rem;
    margin: 2rem 0;
    padding: 1.2rem 0;
    text-align: center;
    background-color: rgb(102, 0, 0);
    border-radius: 4.1rem;
    transition: background-color .2s;
}

#dnd_beyond_link a{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

#dnd_beyond_link:hover{
    background-color: darkred;
    transition: background-color .2s;
}

/* -------------------------- */
#barbarian{
    background: url('../img/barbarian_icon.jpeg');
    background-size: contain;
}

#bard{
    background: url('../img/bard_icon.jpeg');
    background-size:contain;
}
#cleric{
    background: url('../img/cleric_icon.jpeg');
    background-size:contain;
}
#druid{
    background: url('../img/druid_icon.jpeg');
    background-size:contain;
}
#fighter{
    background: url('../img/fighter_icon.jpeg');
    background-size:contain;
}
#monk{
    background: url('../img/monk_icon.jpeg');
    background-size:contain;
}
#paladin{
    background: url('../img/paladin_icon.jpeg');
    background-size:contain;
}
#ranger{
    background: url('../img/ranger_icon.jpeg');
    background-size:contain;
}
#rogue{
    background: url('../img/rogue_icon.jpeg');
    background-size:contain;
}
#sorcerer{
    background: url('../img/sorcerer_icon.jpeg');
    background-size:contain;
}
#warlock{
    background: url('../img/warlock_icon.jpeg');
    background-size:contain;
}
#wizard{
    background: url('../img/wizard_icon.jpeg');
    background-size:contain;
}

/* ---------------modal----------------- */
.help_modal_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 86vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.308);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

#help_modal{
    position: relative;
    background-color: white;
    width: 40%;
    padding: 1vw 2vw 2vw 2vw;
    border: 5px solid rgb(61, 61, 61);
    border-radius: 1.5vw;

}

#help_modal h1{
    font-size: 3rem;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

#help_modal p{
    font-size: 1.25rem;
}

#modal_close{
    position: absolute;
    font-size: 2rem;
    top: 1vw;
    right: 2vw;
    margin: .8rem 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-image: url('../img/x.svg');
    background-size: contain;
    cursor: pointer;
    opacity: .7;
    transition: opacity .2s;
}

#modal_close:hover{
    opacity: 1;
    transition: opacity .2s;
}

#modal_active{
    opacity: 1;
    visibility: visible;
    transition: opacity .5s, visibility .5s;
}
