* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.page_container{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

/* -----------------Birthday UI------------------- */
#birthday_ui_container{
    width: 86%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.nav{
    display: flex;
    justify-content: space-between;
}

/* -----------------Logo------------------- */
.logo{
    cursor: pointer;
}

.logo img{
    height: 4.5em;
}

/* -----------------Nav Right------------------- */
.nav_right{
    display: flex;
}

.help{
    background-color: black;
    color: white;
    text-align: center;
    height: 64px;
    width: 64px;
    cursor: pointer;
    margin:.5em;
}

.mute{
    background-color: black;
    color: white;
    text-align: center;
    height: 64px;
    width: 64px;
    cursor: pointer;
    margin:.5em;
}

/* -----------------Birthday Entry------------------- */
.birthday{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8vh 5vw;
}

.birthday h1{
    margin: 2%;
    font-size: 3em;
    line-height: 1em;
}

.birthday form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.birthday_entry{
    height: 6vh;
    width: 20rem;
    border-radius: 3em;
    border: none;
    margin: .5em;
    font-size: 1.5em;
    padding: .5em 4em;
    background-color: #c8c8c8;
    color: white;
}


.birthday_submit{
    height: 6vh;
    width: 20rem;
    font-size: 2em;
    font-weight: bold;
    padding: .1em;
    border-radius: 3em;
    background-color: #A22020;
    color: white;
    border: none;
    margin: .5em;
    cursor: pointer;
    text-align: center;
}


/* -----------------Classes UI------------------- */
.class_ui_container{
    width: 14vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2vh 1vw;
}

.class_UI{
    background-color: #424242;
    height: 5vw;
    width: 5vw;
    margin: .8vh .5vw;
    cursor: pointer;
}
