@keyframes fadeOut{
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.test{
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    animation: 3s linear 2s 1 forwards fadeOut;
}
