@keyframes fadeOut{
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.test{
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    animation: 3s linear 2s 1 forwards fadeOut;
}

.test{
    background: url('../img/barbarian.png');
    background: url('../img/bard.png');
    background: url('../img/cleric.png');
    background: url('../img/druid.png');
    background: url('../img/fighter.png');
    background: url('../img/monk.png');
    background: url('../img/paladin.png');
    background: url('../img/ranger.png');
    background: url('../img/rogue.png');
    background: url('../img/sorcerer.png');
    background: url('../img/warlock.png');
    background: url('../img/wizard.png');
}